<div id="<%= dom_id beer_club %>">
  <h2>
    <%= beer_club.name %>
  </h2>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <h4>members</h4>

  <% @confirmed_members.each do |membership| %>
    <p>
      <%= link_to membership.user.username, membership.user %>
    </p>
  <% end %>

  <h4>membership applications</h4>

  <% @applicants.each do |membership| %>
    <p>
      <%= link_to membership.user.username, membership.user %> <%= link_to "Confirm", confirm_membership_path(membership.id), data: {turbo_method: "post"}, class: "btn btn-primary" if current_user.memberships.confirmed.find_by(beer_club: beer_club.id) %>
    </p>
  <% end %>

</div>