<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <h3>members</h3>

  <p>
  <% beer_club.users.each do |user| %>
  <%= link_to user.username, user %>
  <% end %>
  </p>

</div>
