<%= render @user %>

<p>
    <% if @user.ratings.empty? %>
    <% else %>
      Has made <%= pluralize(@user.ratings.size, "rating") %>, average rating <%= @user.average_rating%>
      <br>Favorite beer: <%= @user.favorite_beer.name %>
      <br>Favorite brewery: <%= @user.favorite_brewery %>
      <br>Favorite style: <%= @user.favorite_style.name %>
    <% end %>
</p>

<% if not current_user.nil? %>
<% if @user.blocked %>
<%= link_to "Open account", block_user_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" if current_user.admin %>
<% else %>
<%= link_to "Block user", block_user_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" if current_user.admin %>
<% end %>
<% end %>

<h3>member of</h3>
<ul>
  <% @user.memberships.confirmed.each do |membership| %>
  <li><%= link_to membership.beer_club.name, membership.beer_club%>
  <% end %>
</ul>

<h3>applied membership of</h3>
<ul>
  <% @user.memberships.applicant.each do |membership| %>
  <li><%= link_to membership.beer_club.name, membership.beer_club%>
  <% end %>
</ul>

<h3>ratings</h3>
<div id="user_ratings_list">
  <table class="table table-hover">
    <tr>
      <th>Beer</th>
      <th>Brewery</th>
      <th>Score</th>
      <th></th>
    </tr>
    <% @user.ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating.beer %></td>
        <td><%= link_to rating.beer.brewery.name, rating.beer.brewery %></td>
        <td><%= rating.score %></td>
        <td><%= link_to "Delete", rating, data: {turbo_method: :delete}, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user), class:'btn btn-primary' %>
    <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger" %>
  <% end %>
  <%= link_to "Back to users", users_path %>
</div>

