<h1>Breweries</h1>

<% cache "brewerylist", skip_digest: true do %>
<p>Number of active breweries: <%= @active_breweries.count %></p>
<p>Number of retired breweries: <%= @retired_breweries.count %></p>

<div id="breweries">
  <table class="table table-hover">
    <tr>
      <th>Brewery</th>
      <th>Year</th>
      <th>Number of beers</th>
      <th>Rating</th>
    </tr>
    <tr><th colspan="4">Active breweries</th></tr>
    <% @active_breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
        <td><%= brewery.beers.count %></td>
        <td><%= brewery.average_rating %></td>
      </tr>
    <% end %>
    <tr><th colspan="4">Retired breweries</th></tr>
    <% @retired_breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
        <td><%= brewery.beers.count %></td>
        <td><%= round(brewery.average_rating) %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>


<%= link_to "New brewery", new_brewery_path, class:'btn btn-primary' if current_user %>

